# Module 9: Data Manipulation I 

Datasets rarely come perfectly ready for analysis. Sometimes they need a little cleaning up, modification, or adjustment to meet the needs of your analyses. In our first lesson on data manipulation, you will learn some of the basic tools in making minor adjustments to your dataset. 

***************

## Creating Data From Scratch

Datasets are an organized series of lists of information. We can use what we've learned about dictionaries to quickly create a series of labels and values that can be turned into a dataset. This will allow you to see the information in a structured and organized way, but it also allows for the application of pandas functions on this new dataset.

In [ ]:
## Step 1: Create a dictionary with you key-value pairs

## KEY = the column header; this is the name of your column in the new dataset
## VALUE = the values that will be included in the column; this will be a list

dictionary1 = {'First Score':[100, 90, 89, 95], ##key is "First Score"
            'Second Score': [30, 45, 56, 67], ## value is the list of scores
            'Third Score':[78, 40, 80, 98]}

In [ ]:
## Step 2: Convert the dictionary to a pandas dataframe

df = pd.DataFrame(dictionary1)

In [ ]:
## Step 3: Check your new dataset

df

## { Exercise 1 }

Create a dataset (name it whatever you like) with the following columns:
* TV Shows
* Movies
* Snacks

Make sure each column has at least four observations.

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
leisure= {"tv shows":["Dateline", "60 minutes", "questions for a winner", "news easy"], "Movies": ["A good liar", "Evita", "My friend the lion", "once upon a time"], "Snacks":["Cheese", "Crakers", "Bread", "Cranberies"]}

In [4]:
mydata=pd.DataFrame(leisure)

In [6]:
mydata.head()

                 tv shows              Movies      Snacks
0                Dateline         A good liar      Cheese
1              60 minutes               Evita     Crakers
2  questions for a winner  My friend the lion       Bread
3               news easy    once upon a time  Cranberies

## Importing Libraries

In [ ]:
import pandas as pd
import numpy as np

## Finding & Handling Missing Data

Missing data is something that always needs to be accessed when you are working with a new dataset. Missing data is missing information and creates gaps in your dataset. For certain functions and analyses, you cannot have any missing data. Luckily, you are able to handle the missing data in several ways.

In [ ]:
## creating a dataset to practice with

dict1 = {'Name':["James", "Patrick", np.nan, "Cassie", "Mario"],
        'Sport': ["Baseball", "Tennis", "Soccer", np.nan, "Basketball"],
        'Score':[np.nan, 40, 80, np.nan, 78]}

df = pd.DataFrame(dict1)
df.head()

***

### Locating Missing Data

***

In [ ]:
## checking which rows have missing data and how much data is missing

df.isnull().sum()

In [ ]:
## where are the rows that have missing data?

df.loc[df.isnull().any(axis = 1)]

## any() function: the any looks for any true value across an axis
## axis = 1 means the columns - the function will look at each row across each column
## if any of the columns have ONE missing value, the row will be returned

In [ ]:
## where are the rows that have missing data in a specific column?

df.loc[df["Sport"].isnull()]

***

### Removing Missing Data

***

#### What does it mean to make a change "inplace"?

When inplace = True, the data is modified in place (the dataset is permanently updated). When inplace = False (this is the default operation), the operation is performed and a <b>copy</b> of the modified dataset is returned, but the original dataset remains unchanged.

In [ ]:
## creating a dataset to practice with

dict1 = {'Name':["James", "Patrick", np.nan, "Cassie", "Mario"],
        'Sport': ["Baseball", "Tennis", "Soccer", np.nan, "Basketball"],
        'Score':[np.nan, 40, 80, np.nan, 78]}

df = pd.DataFrame(dict1)
df.head()

#### Removing All Missing Data

In [ ]:
## dropping all rows with at least one missing value

df.dropna(inplace = True)

## check the changes

df.head()

#### Removing Specific Missing Data

In [ ]:
dict1 = {'Name':["James", "Patrick", np.nan, "Cassie", "Mario"],
        'Sport': ["Baseball", "Tennis", "Soccer", np.nan, "Basketball"],
        'Score':[np.nan, 40, 80, np.nan, 78]}

df = pd.DataFrame(dict1)

### dropping all rows with at least one missing value in a certain column

df.dropna(subset=["Name"], inplace = True)

## check the changes

df.head()

***

### Replacing Missing Data

***

In [ ]:
dict1 = {'Name':["James", "Patrick", np.nan, "Cassie", "Mario"],
        'Sport': ["Baseball", "Tennis", "Soccer", np.nan, "Basketball"],
        'Score':[np.nan, 40, 80, np.nan, 78]}

df = pd.DataFrame(dict1)

#### fill all missing data values with a value of your choosing

df.fillna(999, inplace = True)

# check changes

df.head()

#### Replacing Specific Missing Data

In [ ]:
dict1 = {'Name':["James", "Patrick", np.nan, "Cassie", "Mario"],
        'Sport': ["Baseball", "Tennis", "Soccer", np.nan, "Basketball"],
        'Score':[np.nan, 40, 80, np.nan, 78]}

df = pd.DataFrame(dict1)

#### fill specific missing data values with a value of your choosing

df["Name"].fillna("Unknown", inplace = True)

# check changes

df.head()

In [ ]:
dict1 = {'Name':["James", "Patrick", np.nan, "Cassie", "Mario"],
        'Sport': ["Baseball", "Tennis", "Soccer", np.nan, "Basketball"],
        'Score':[np.nan, 40, 80, np.nan, 78]}

df = pd.DataFrame(dict1)

## fill specific missing values with summary statistic
## replace the missing score value with the average score for the entire group

# what is the average?
print("The average score is:", df["Score"].mean())

# use that value to fill in the missing value
df["Score"].fillna(df["Score"].mean(), inplace = True)

# check changes
df.head()

## { Exercise 2 }

Run the code to create a dataset of weather conditions in specific areas. Then find and handle all the missing data in the dataset.

In [ ]:
## Weather Dataset

weather = {'Season':["Spring", "Spring", np.nan, "Summer", "Fall", "Winter", "Summer", "Summer", "Winter"],
            'Temp': [90, 71, np.nan, 102, 68, np.nan, 99, 87, np.nan],
            'Conditions':["Rain", "Thunderstorms", "Rain", "Sunny", "Partly Cloudy", np.nan, "Cloudy", np.nan, "Blizzard"]}

df = pd.DataFrame(weather)

df

1. Write the code to show how much missing data is in each column.

2. Using loc - return the rows that have any missing data.

3. Drop the rows that have missing data in "Season" column.

4. Replace the missing data in the "Conditions" column with the word "UNKNOWN"

5. Replace the missing data in the "Temp" column with the average temperature of the entire dataset.

## Finding & Handling Duplicate Rows

Duplicate data is typically an error in data entry - the same information is getting entered more than once. Duplicate rows can be just as messy for analyses as missing data. You should take the time to determine if you have any duplicate rows in your dataset - and if you do, they should be removed.

In [ ]:
## creating a dataset to practice with

paint = {'Paint_Brand':["Benjamin Moore", "Behr", "Sherwin-Williams", "Kilz", "Valspar", "Sherwin-Williams", "Kilz"],
        'Color': ["Beige", "Navy", "Cream", "Grey", "Soft Teal", "Cream", "Grey"],
        'Wall_Location':["Entryway", "Master Bedroom", "Kitchen", "Basement", "Living Room", "Kitchen", "Basement"]}

df = pd.DataFrame(paint)
df

***

### Identifying Duplicate Rows

***

In [ ]:
## locate duplicate rows 

df.loc[df.duplicated()]

In [ ]:
## drop duplicate rows

df.drop_duplicates(inplace = True)

# check work

df

## Adding & Removing Columns from Dataset

You have a lot of flexibility with what you can do with your pandas dataset once its defined. Adding columns allows you to create new data that may not have originated in your starting data file. It also allows you to create columns based on other columns or conditions. Removing columns allows you to remove unneeded information from your dataset which might be taking up space.

***

### Creating New Columns

***

In [ ]:
## create a new column and assign a single value

df["Quantity"] = 3

df.head()

In [ ]:
## create a new column 

df["Price"] = 29.99

df.head()

In [ ]:
## create a new column and assign everything to missing

df["Total"] = np.nan

df.head()

***

### Creating New Column based on other Columns

***

In [ ]:
## create a new column based on another column

df["Total_Cost"] = df["Quantity"] * df["Price"]

df.head()

***

### Removing Columns

***

In [ ]:
## drop a single column

df.drop(columns = "Total", inplace = True)

df.head()

In [ ]:
## drop multiple columns

df.drop(columns = ["Quantity", "Price"], inplace = True)

df.head()

***

### Creating New Columns based on Conditions

***

In [ ]:
## creating a dataset to practice with

grades = {'Student':["Taylor", "Carlos", "Sherrie", "Mary", "Henry", "Michael", "June"],
        'Grades': [89, 99, 100, 79, 81, 78, 97],
        'Subject':["Math", "English", "Studio Art", "Biology", "Chemistry", "Latin", "Physics"]}

df = pd.DataFrame(grades)
df

In [ ]:
## create a new column based on the condition of another column

## the np.where function returns elements based on a condition
## np.where(condition, outcome a, outcome b)
## condition = whatever condition you want to search for 
## outcome a = what to do when the condition is true
## outcome b = what to do when the condition is false

df["Pass_Fail"] = np.where(df["Grades"] >= 80, "Passed", "Failed")

# check your work

df.head()

In [ ]:
## create a new column based on multiple conditions

## the np.where function returns elements based on a condition
## np.where(condition, outcome a, outcome b)
## condition = whatever condition you want to search for 
## outcome a = what to do when the condition is true
## outcome b = what to do when the condition is false

df["Honor_Role"] = np.where(((df["Pass_Fail"] == "Passed") & (df["Grades"] > 89)), 1, 0)

# check your work

df.head()

## { Exercise 3 }

Run the code below to create a dataset about vacation packages. After you create the dataset, answer the questions below.

In [ ]:
## Vacation Data

vaca = {'Country_Destination':["Barbados", "Mexico", "Australia", "Aruba", "Greece", "France", "France"],
            'Inclusive': ["Y", "N", "Y", "Y", "N", "Y", "Y"],
            'Price_per_Person':[1098.00, 679.99, 2035.69, 1789.00, 899.00, 1650.89, 1650.89], 
            'Family_Size':[2, 4, 1, 6, 5, 3, 3],
            'Travel_Month':["June", "September", "April", "November", "August", "December", "December"]}

df = pd.DataFrame(vaca)

df

1. Identify and remove the duplicate row(s)

2. Add a column to the dataset called "Travel_Insurance" -- all the values in the column should be "Y"

3. Add a column to the dataset called "Price_per_Family" -- multiply the "Price_per_Person" column with the "Family_Size" column

4. Add a new column called "Peak Season" -- if the Travel month is a summer month, "Peak Season" should have a value of "Y", otherwise, it should have a value of "N".

5. Add a new column called "Luxury Tax" -- if "Peak Season" is "Y", "Luxury Tax" should have a value of 300.00, otherwise, it should have a value of 0.

6. Add a new column called "Total Price" -- add the columns "Price_per_Family" and "Luxury Tax" to get the total price of the trip per family.

# { Module 9 Homework }

1. Import the two libraries needed to work with your dataset.

In [ ]:
import pandas as pd
import mumpy as np

2. Import the "Dental Patients 2.xlsx" dataset.

In [ ]:
dp=pd.read_excel("Dental Patients 2.xlsx")

In [ ]:
dp

3. Explore the characteristics of your dataset. Find the following:
    * the first 5 rows
    * the last 5 rows
    * the shape of the dataset (number of rows and columns)
    * the descriptive statistics for the numeric columns

4. What are the summary characteristics of the dataset? Use the info function to print the details. Jot down two observations you have about this dataset.

5. Locate the columns that have missing data. Which column has the most?

6. Using the column that is missing the most data, locate and return the rows where the data is missing.

7. Using the column that is missing the most data, replace the missing values with "Unknown - Ask Patient".

8. Replace the missing values in the "EmergencyContact" column with "Unknown - Ask Patient".

9. Replace the missing values in the "Age" column with the average age of the dataset.

10. Now that you've filled the missing values for a few rows, drop the remaining rows that have any missing data.

11. Check the dataset for duplicate rows. If you have any, remove them from the dataset.

12. Create a new column called "Flagged" -- this column will let the administration know that they need to contact the patient for more information. If the EmergencyContact column or the Allergies column have the following value "Unknown - Ask Patient" the "Flagged" column should have a value of 1, otherwise, it should have a value of 0.

13. Create a new column called "Overdue Payment" - if the "outstanding balance" column is greater than 0 and the "new patient" column is equal to "N" - the "Overdue Payment" column should have a value of 1, otherwise, it should have a value of 0.

14. Remove the "Insurance" column from the dataset.

15. Export your modified dataset to an excel file called "Dental Patients Updated".